name: scandit_flutter_datacapture_id_aamva_barcode_verification
description: This plugin adds the Aamva barcode verification capabilities of the Scandit Data Capture SDK.
version: 7.3.4
homepage: https://scandit.com

environment:
  sdk: ">=3.4.0 <4.0.0"
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: 4.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.scandit.datacapture.flutter.id_aamva_barcode_verification
        pluginClass: ScanditFlutterDataCaptureIdAamvaBarcodeVerificationPlugin
      ios:
        pluginClass: ScanditFlutterDatacaptureIdAamvaBarcodeVerificationPlugin
